* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}
.heading {
	width: 90%;
	margin: 20px auto;
	text-align: center;
	color: rgb(0,0,0);
	font-size: 1.8rem;
}

.section {
	margin: 20px auto;
	width: 90%;
	border: 2px solid black;
	padding: 15px 20px;
}

.section p {
	font-size: 0.8rem;
	margin-top: 8px;
}
.section h2 {
	text-align: center;
}

.section h5 {
	text-align: center;
}

.section h6 {
	text-align: left;
	margin-left: 30px;
}

.content {
	margin-top: 30px;
	padding: 10px 20px;
}

.content p {
	font-size: 0.76rem;
}

hr {
	border-color: black;
	background-color: black;
	width: 90%;
	margin: auto;
	margin-bottom: 3px;
}

span {
	font-weight: bold;
}

#khasipic {
	height: 200px;
	width: 80%;
	margin: auto;
	border: 2px solid  black;
	background: url('../img/khasi.jpg') no-repeat center center/cover;
}

#members {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: space-evenly;
}

.team-member {
	width: 30%;
	margin: 10px auto;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image img {
	width: 70%;
	height: 150px;
	border: 2px solid black;
	margin-left: 15%;
}

.info {
	padding: 10px;
	font-weight: bold;
}

#our-team,#what-we-do,#why-we-do{
	background-color: rgba(164,164,164,0.65);
	color: black;
}

#bg{
	background: url('../img/about-bg.jpg') no-repeat center center/cover;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

ul li{
	margin-left:20px;
	
}

.section ol{
	margin:20px;
}
