* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-weight: bold;
}
.background{
	height: 100vh;
	width: 100%;
	
	top:0;
	left:0;
	z-index:-15;
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	position: fixed;
	background-image: url('../img/background.png');
}
body {
	font-family: montserrat;
	background-image: url("bg2.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: 'Work Sans', sans-serif;
}
nav {
	background: rgba(28, 0, 128, 0);
	height: 120px;
	width: 100%;
}

label.logo
{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80 px;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;

}
a.active,a:hover {

	text-decoration: underline;
	text-decoration-color: green;

}

input[type=text] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 0.1px solid darkgreen;
	background-color: rgb(214,245,165);
	color: black;
	
}

input[type=email] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 0.1px solid darkgreen;
	background-color:rgb(214, 245, 165) ;
	color: black;
}

input[type=date] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 0.1px solid darkgreen;
	background-color: rgb(214, 245, 165);
	color: black;
}

input[type=submit] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	background-color:  rgb(30, 136, 21) ;
	color: floralwhite;
	margin: 4px 2px;
	margin-top: 28px;
	border: none;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.5rem;
}
input[type=number] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 0.1px solid darkgreen;
	background-color: rgb(214, 245, 165);
	color: black;

}
select {
	width: 50%;
	padding: 12px 15px;
	border: none;
	border-radius: 4px;
	border: 0.1px solid darkgreen;
	background-color: rgb(214, 245, 165);
	color: black;
}

form{
	margin-left: 10%;
	margin-top: 50px;
	width: 50%;
}

h{
	font-family: Monospace;
}
h1{
	
	font-family: 'Rubik', sans-serif;
}

hr{
	border: 1px solid black;
}
